        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 pull-left">
                        Copyright ©Urbanrunic Corp 2015
                    </div>
                    <div class="col-md-6 pull-right text-right">
                        <ul class=footer-nav>
                            <li><a href="/corporation" alt="Corporation Info">Corporation Info</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

  </body>
</html>
